@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-color: #232323;
  --background-color: #ffffff;
  --main-w: 700px;
}

body {
  color: var(--foreground-rgb);
  background-color: var(--foreground-rgb);
}